<div class="row">
  <div class="col-md-12">
    <h2 class="mb-4 border-bottom pb-3">首页</h2>
    
    <% if (posts && posts.length > 0) { %>
      <div class="row">
        <% posts.forEach(post => { %>
          <div class="col-md-6 mb-4">
            <div class="card bg-dark border-0 h-100 p-2">
              <% if (post.coverImage) { %>
              <div class="card-img-container">
                <img src="<%= post.coverImage %>" class="card-img-top post-cover" alt="<%= post.title %>的封面图片">
              </div>
              <% } else { %>
              <div class="card-img-container">
                <img src="https://via.placeholder.com/600x400" class="card-img-top post-cover" alt="<%= post.title %>">
              </div>
              <% } %>
              <div class="card-body px-0">
                <h3 class="card-title"><%= post.title %></h3>
                <div class="text-white-50 small mb-2">Published: <%= post.date %></div>
                <p class="card-text text-white-50"><%= post.excerpt %></p>
                <a href="/post/<%= post.id %>" class="btn btn-outline-light">阅读全文</a>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    <% } else { %>
      <div class="alert alert-info">
        <p>目前还没有文章。<a href="/new">创建第一篇文章</a>吧！</p>
      </div>
    <% } %>
  </div>
</div>